@font-face {
  font-family: 'game-of-thrones';
  src: url('./assets/fonts/Game-of-Thrones.ttf');
}

@font-face {
  font-family: 'junaretta';
  src: url('./assets/fonts/JunarettaMartalle-eZrmx.otf');
}

body {
  background-color: rgb(252, 254, 240);
}

#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: RGB(255, 241, 144)
}

h1 {
  font-family: 'game-of-thrones';
  color: rgb(185, 84, 12);
}

h2 {
  margin: 5px;
  font-size: xx-large;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-img {
  width: 200px;
  height: 200px;

}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;

}

.card > * {
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  background-color: rgb(255, 243, 188);
  border-radius: 10px;
  box-shadow: 4px 4px rgb(218, 171, 138);
  font-family: 'junaretta'
}

.card:hover {
  cursor: pointer;
}

.read-the-docs {
  color: #888;
}
