@font-face {
  font-family: 'game-of-thrones';
  src: url('./assets/fonts/Game-of-Thrones.ttf');
}

@font-face {
  font-family: 'junaretta';
  src: url('./assets/fonts/JunarettaMartalle-eZrmx.otf');
}

body {
  background-color: rgb(252, 254, 240);
}

#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: RGB(255, 241, 144)
}

.header {
  position: relative;
}

h1 {
  font-family: 'game-of-thrones';
  color: rgb(185, 84, 12);
}

h2 {
  margin: 5px;
  font-size: xx-large;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-img {
  width: 200px;
  height: 200px;

}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;

}

.card > * {
  pointer-events: none;
}

.loader-div {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: none;
  border-radius: 10px;
  padding: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(218, 171, 138);
  border-bottom-color: rgb(185, 84, 12);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

.scores {
  position: absolute;
  top: 5%;
  right: 10%;
}

.greyout {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: slategray;
  opacity: 0.6;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pop-up {
  position: absolute;
  background-color: rgb(252, 254, 240);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 10px;
  z-index: 5;
}

.card {
  padding: 1em;
  background-color: rgb(255, 243, 188);
  border-radius: 10px;
  box-shadow: 4px 4px rgb(218, 171, 138);
  font-family: 'junaretta'
}

.card:hover {
  cursor: pointer;
}

.read-the-docs {
  color: #888;
}
