@font-face {
  font-family: 'game-of-thrones';
  src: url('./assets/fonts/Game-of-Thrones.ttf');
}

body {
  background-color: rgb(252, 254, 240);
}

#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: RGB(255, 241, 144)
}

h1 {
  font-family: 'game-of-thrones';
  color: rgb(185, 84, 12);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  width: 200px;
  height: 200px;

}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;

}

.card {

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
